.container{
    text-align: center;
    margin-top: 18rem;
    .linkText{
        text-decoration: none;
        color: rgb(0, 157, 255);
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}